aiofiles==0.4.0
aiohttp==3.5.4
asyncio==3.4.3
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.7.0+cpu
fastbook==0.0.12
fastai==2.0.11
numpy==1.16.4
starlette==0.12.0
python-multipart==0.0.5
uvicorn==-0.7.1
